@include block(button) {
  display: inline-flex;
  align-items: center;
  padding: 20px 40px;
  border-radius: 100px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #fff;
  background: $primary;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 22px 29px -20px rgba(19, 32, 141, 0.5);
  @include perfect-transition;

  @include meadia-query(xs) {
    padding: 4.5vw 10vw;
    font-size: 14px;
  }

  > .icon,
  .slot-icon {
    font-size: 20px;
    margin-right: 15px;
  }

  > .ico-send {
    transform: ty(-2px);
  }

  @include pseudo(hover) {
    background: mix($primary, white, 94);
  }

  @include when(full) {
    width: 100%;
    justify-content: center;
  }

  @include when(loading) {
    cursor: not-allowed;

    @include pseudo(hover) {
      background: $primary;
    }
  }

  @include element(loading) {
    margin-right: 15px;
    @include circle(20px);
    border: 3px solid #fff;
    border-top-color: transparent;
    animation: spin .6s linear infinite;

    @include pseudo(hover) {
      background: $primary;
    }
  }
}

.star {
  position: relative;
  @include circle(10px, #fff);
  contain: layout;

  @include meadia-query(xs) {
    @include circle(8px, #fff)
  }

  &.star {
    margin-right: 20px;

    @include meadia-query(xs) {
      margin-right: 5vw;
    }
  }

  @include when(stop) {
    &::after, &::before {
      animation: none;
    }
  }

  @include share-rule(ring) {
    content: "";
    position: absolute;
    display: block;
    @include circle(12px);
    will-change: opacify, transform;

    @include meadia-query(xs) {
      @include circle(10px);
    }
  }

  &::after {
    @include extend-rule(ring);
    margin-left: -3px;
    margin-top: -3px;
    border: 2px solid white;
    animation: zoom-out 1.2s 0.4s infinite;
  }

  &::before {
    @include extend-rule(ring);
    margin-left: -2px;
    margin-top: -2px;
    border: 1px solid white;
    animation: zoom-out-lg 1.2s infinite;
  }
}

@keyframes zoom-out {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes zoom-out-lg {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}