body {
  margin: 0;
  padding: 17px;

  @include meadia-query(xs) {
    padding: 5px;
  }
}

@include block(landing) {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  background-image: url('//cdn.grisoso.com/airwallex/decoration.svg'), url('//cdn.grisoso.com/airwallex/illusions.svg');
  background-repeat: no-repeat;
  background-size: auto 50%, auto 100%;
  background-position: top left, right top;

  @include meadia-query(xs) {
    background-image: url('//cdn.grisoso.com/airwallex/illusions.svg');
    background-size: auto 100%;
    background-position: right -10vw top;
  }

  @include element(header) {
    flex: 0 0 36%;
    padding-top: 30px;
    padding-left: 60px;
    @include perfect-transition;

    @include meadia-query(xs) {
      padding-top: 15vw;
      padding-left: 10vw;
      flex-basis: 30%;
    }

    @include when(top) {
      position: relative;
      z-index: 2;

      @include meadia-query(xs) {
        padding-top: 5vw;
      }
    }
  }

  @include element(body) {
    padding-left: 100px;
    flex-grow: 1;

    @include meadia-query(xs) {
      padding-left: 10vw;
    }
  }

  @include element(footer) {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    flex: 0 0 50px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;

    @include meadia-query(xs) {
      width: 100%;
      padding-left: 0;
      flex-flow: column;
      justify-content: center;
      font-size: 10px;
      color: #444;
    }
  }

  @include element(slogan) {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1.1;
    font-family: 'Merriweather', serif;
    font-weight: bold;

    @include meadia-query(lg) {
      font-size: 60px;
    }

    @include meadia-query(xs) {
      margin-bottom: 10vw;
      font-size: 7.2vw;
    }
  }

  @include element(tip) {
    display: block;
    margin-top: 20px;
    color: $primary;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    @include meadia-query(xs) {
      font-size: 12px;
    }
  }

  @include element(auth) {
    display: flex;
    align-items: center;
    margin-right: 10px;

    > .icon {
      margin: 0 5px;
      color: $error;
    }
  }
}
